<%= form_for @friend do |form| %>


  <div class="field form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name%>
    <%= form.text_field :last_name, class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :email%>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :twitter%>
    <%= form.text_field :twitter, class:"form-control" %>
  </div>

  <div id="blogs">
    <%= form.fields_for :blogs do |f| %>
      <%= render 'blog_fields', f: f %>
    <% end %>
    <div class="links" >
      <%= link_to_add_association 'Add blog', form, :blogs, class: 'btn btn-primary'%>
    </div>
  </div>

  <%= form.submit 'Save', class: "btn btn-success"%>


<% end %>
